<div id="page-content" >
    <h1 class="text-center mt-4">This is Article</h1>

    <div class="container">

        <p><strong>Title:</strong><%= @article.title  %></p>
        <p><strong>Description:</strong><%= @article.description  %></p>

        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-info" %> 
        <%= link_to 'Delete', article_path(@article), method: :delete, data: {confirm: "Are you sure"}, class:" btn btn-outline-danger" %> 
        <%= link_to 'Back to Articles listing', articles_path, class: "btn btn-outline-success" %> 

        </div>
    </div>
</div>